compartment_ocid         = 
user_ocid                = 
tenancy_ocid             = 
fingerprint              = 
private_key_path         = 
private_key_password     = 
region                   = 
project_compartment_ocid = 
ssh_public_key           = 